.vscode/**
.vscode-test/**
.readme/**
api-v3/**
coverage/**
# Include entire node_modules to support MCP Server Provider installation
# node_modules/**
out/**
releases/**
src/**
**/webpack.config.js
**/.gitignore
**/.c8rc
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
